extends layout

block content

  h1 Flags of the world - compare cool-looking flags.
  .topnav
    button#earthButton Earth
    button#vanuButton Vanuatu
    button#luciaButton St. Lucia
    button#seyButton Seychelles
    button#alandButton Aland
    button#compButton Compare
    button#mapButton WorldMap
    script(src='javascripts/client.js')
  .main
    h1 Welcome to: #{flag_name}
    h2 Likes: #{votes}
    img(src='images/aland.jpg',style='width:500px') 
  form(action="/aland", method="POST")
    button(type="submit") Like
    h2 About
    p #{about}
    p #{about1}
    p #{about2}
    img(src='images/aland_about.jpg', style='width:800px')
    figcaption The outdoor life of Aland Islands is unlike any other!
